#connections {
  border-style: solid;
  border-color: black;
  border-width: 1px;

  height: 515px;
  width: 250px;

  position: fixed;
  top: 170px;
  left: 120px;

}

#connectLabel {
  margin:auto;
  color:black;
  font-size: 35px;
}

/* #connectList {
  margin: 10px;
  font-size: 20px;
} */

li{
  width: 180px;

  border-style:solid;
  border-color: black;
  border-width: 1px;

  margin: 15px 0;
  font-size: 20px;
}

#container {
  margin-top: 120px;
  margin-left: 420px;
  height: 580px;
  width: 1000px
}
