@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html {
  background-color: #fefee3;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
}

.padding {
  margin: 1rem 0rem 0rem 0rem;
}

.column1 {
  float: left;
  width: 5%;
  margin-top: 15px;
  margin-left: 15px;
}

.column2 {

  float: left;
  width: 50%;
  margin-left: 250px;
  padding: 5px;
}

.content .inside-texts .person1 .column2 .name{
  font-size: 300;
  font-weight: 600;
}

.column3 {
  float: left;
  width: 0%;
  padding: 10px;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row1 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding-right: 2rem;
  padding-left: 2rem;
}

.content{
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-height: 100%;
    width: 47%;
}

.small {
    width: 20%;
}

.inside-texts {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 2rem 2rem 1rem 2rem;
    padding-bottom: 1rem;
    text-align: left;
    cursor: pointer;
    width: 200%;
    height: 87%;
    background-color: #FFA185;
    border-radius: 50px;
}

#name {
  text-align: left;
  color: #643c16;
  font-size: 3rem;
  padding-top: 2%;
}
#text-intr {
  text-align: center;
  color: #331E0A;
  font-size: rem;
}


/* body{
    height: 100vh;
    width: 100%;
    background: #FEFEE3;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    display: flex;

}

.padding {
  margin: 0rem 0rem 0rem 0rem;
}

.container {
  margin-top: 20%;
  margin-left: 17%;
  padding: 32px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.buttons .button-friends{
    width: 175px;
    height: 55px;
    border-radius: 25px;
    background: #FFA185;
    cursor: pointer;

    line-height: 50px;
    font-size: 27px;
    text-align: center;
    color: #FEFEE3;
    
}


.buttons .button-friends:hover, .buttons .button-friends:focus, .buttons .button-friends:active{
    background: #df937c;
}

.buttons .button-keywords{
    width: 200px;
    height: 55px;
    border-radius: 25px;
    background: #FFA185;
    cursor: pointer;

    line-height: 50px;
    font-size: 27px;
    text-align: center;
    color: #FEFEE3;
}


.buttons .button-keywords:hover, .buttons .button-keywords:focus, .buttons .button-keywords:active{
    background: #df937c;
}



.box{
    max-width: 5000px;
    width: 100%;
}


  .button-user {
    margin-bottom: 10px;
    height: 50px;
    width: 150px;
    padding: 0;

    background: #FFA185;
    outline: none;
    border: none;
    border-radius: 10px;
    overflow: hidden;

    line-height: 50px;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
  }

  .button-user:hover{
    background: #e4957d;
    color: #FEFEE3;
  }
  .button-user:active{
    background: #ca836d;
    color: #FEFEE3;
  }

  .button-keywords {
    margin-left: 15px;
    margin-bottom: 10px;
    height: 50px;
    width: 175px;
    padding: 0;

    background: #FFA185;
    outline: none;
    border: none;
    border-radius: 10px;
    overflow: hidden;

    line-height: 50px;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
  }

  .button-keywords:hover{
    background: #e4957d;
    color: #FEFEE3;
  }
  .button-keywords:active{
    background: #ca836d;
    color: #FEFEE3;
  }

  
.box .search-box{
    position: relative;
    height: 100px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    
}


.search-box .icon{
    position: absolute;
    top: 0%;
    left: -7%;
    width : 100px;
    height : 100%;
    border-radius: 50px;
    background:  #3E7957;
    cursor: pointer;
    
    line-height: 100px;
    font-size: 50px;
    text-align: center;
    color:  #FEFEE3
}

.search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    background-color: #FFF;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 30px;   
}


.search-box .icon {
    position: absolute;
    right: -2px;
    top: 0;
    width : 100px;
    height : 100%;
    border-radius: 50px;
    background:  #3E7957;
    cursor: pointer;
    
    line-height: 100px;
    font-size: 30px;
    text-align: center;
    color: #FEFEE3;
}


.box .text-click{
    position: relative;
    text-align: center;
    font-style: italic;
    font-size: 10px;
    color: rgb(158, 158, 158);
}

.box .text-click:hover, .box .text-click:focus, .box .text-click:active{
    background: #df937c;
} */
