
html, body {
    height: 100%;
}

html {
    margin: auto;
}

body {
    vertical-align: middle;
}
  
.button {
    background-color: #b89191; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.padding {
    margin: 6.5rem 1rem 0rem 0rem;
  }
  
.content {
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#title {
    text-align: center;
    font-size: 5rem;
}
#subtitle {
    text-align: center;
    color: #b48893;
    font-size: 3rem;
}

#text {
    font-size: 1.75rem;
}

#subtext {
    color: #b48893;
    font-size: 1.25rem;
}

/* FOOTER  */
.footer {
    bottom: 0;
    left: 0;
}